@import "~bootstrap/scss/bootstrap";

.col-lg-4 {
  padding: 0;
}

.row {
  margin: 0;
}

.top-part {
  height: 20%;
}

.img-part {
  height: 80%;
  background-color: white;
}

.text-block {
  @extend
  .row,
  .h-50,
  .justify-content-center,
  .align-items-center,
  .text-center,
  .pt-3,
  .pt-lg-0,
  .pb-5,
  .pb-lg-0,
  .px-lg-4;
}

.text-section {
}

section {
  height: 100vh;
  background-color: #F5F7FA;

  @include media-breakpoint-down(md) {
    height: auto;
  }
}
