<section>
  <div class="container h-100">
    <div class="row top-part">
      <div class="col">
        <h1>雖然是社團，卻不失專業</h1>
        <p>
          不管在設備、環境，還是師資...等都具備一定水準，絕對能滿足想打棒球的你！
        </p>
      </div>
    </div>

    <div class="row img-part">
      <div class="col-lg-4 h-100">
        <img class="div-img h-50" src="assets/images/office.png">
        <div class="text-block">
          <div class="text-section">
            <fa-icon [icon]="baseball" size="2x"></fa-icon>
            <h4>穩定的球具與設備供給</h4>
            <p class="mb-0">
              各式球具應有盡有，不僅如此，球隊還有兩台發球機，可讓隊員練習守備、打擊...等！
            </p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 h-100 d-flex flex-column">
        <div class="text-block">
          <div class="text-section">
            <fa-icon [icon]="baseball" size="2x"></fa-icon>
            <h4>安全、具特色的室內打擊場</h4>
            <p class="mb-0">
              獨家設計的收納式打擊場，配合風雨操場的建築，即使外頭颳風下雨，也能正常練習！
            </p>
          </div>
        </div>
        <img class="div-img h-50 order-md-first order-lg-last" src="assets/images/batting-area.jpg">
      </div>

      <div class="col-lg-4 h-100">
        <img class="div-img h-50" src="assets/images/office.png">
        <div class="text-block">
          <div class="text-section">
            <fa-icon [icon]="baseball" size="2x"></fa-icon>
            <h4>具經驗、能帶領球隊的教練</h4>
            <p class="mb-0">
              除了學長外，還有兩名具備證照、且於多個三級社區球隊任職的教練一起帶領球隊！
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
