<section>
  <div class="container text-center">
    <div>
      <h1>你玩過棒球嗎？</h1>
      <p>
        你曾經因為職棒的熱血、中華隊在世界賽的表現...甚至只看到了河濱公園球場上的人們在打球的景象，而產生一股對棒球的熱情嗎？
        或許你國小不夠成熟，沒環境讓你沒機會接觸棒球；國中又因為繁忙的課業而再次錯過了玩球的機會...
        但千萬別讓身為高中生的自己再後悔了！
      </p>
    </div>

    <div class="video-div">
      <iframe
        src="https://www.youtube.com/embed/videoseries?list=PLx0sYbCqOb8TBPRdmBHs5Iftvv9TPboYG"
        frameborder="0"
        allow="encrypted-media"
        allowfullscreen>
      </iframe>
    </div>
  </div>

</section>
