@import "~bootstrap/scss/bootstrap";

section {
  background-color: #323232;
  color: white;
}

iframe {
  size: 1600px 900px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;

  @include media-breakpoint-down(xs) {
    height: auto;
  }
}

.video-div {
  @include media-breakpoint-up(md) {
    height: 75%;
  }
}

.container {
  height: auto;
  @include media-breakpoint-up(md) {
    height: 100%;
  }
}
