<section class="container">
  <div class="row h-100 align-items-center">
    <div class="col-md-6 pb-3 pb-md-0">
      <h1>我們是永平棒球</h1>
      <p>從 2015 創設至今已有 5 年的歷史，曾多次於 40 幾隊參賽的冬/夏聯闖進 16 強複賽。其中更於 2015 年青龍盃、2018 星光盃、2019 市長盃分別拿下冠軍、亞軍、亞軍的成績！</p>
      <a href="#">球隊歷屆戰績</a>
    </div>
    <div class="col-md-6 h-100">
      <div class="img-row">
        <img class="img-lg" src="/assets/images/lin-pitching.jpg">
        <img class="img-sm" src="/assets/images/zhang-batting.jpg">
      </div>
      <div class="img-row">
        <img class="img-sm" src="/assets/images/chang-pitching.jpg" style="object-position: right">
        <img class="img-lg" src="/assets/images/shout.jpg">
      </div>
    </div>
  </div>
</section>
