<section class="container">
    <div class="row h-100">
      <div class="col-md-6 h-100">
        <div class="row align-items-center h-75 text-center px-md-4">
          <div>
            <h1>原來，棒球可以這麼有趣！</h1>
            <p>
              歷屆以來許多人都是從高中才開始碰棒球的，也許你也是如此。
              不過經過三年的訓練，如今許多學長已在大學各自展現亮眼的成績！
            </p>
            <p>
              只要你喜歡棒球，或對棒球有那麼一點點興趣，都歡迎加入我們！
            </p>
          </div>
        </div>
        <div class="h-25 row mg-x">
          <img class="div-img col-md-6" src="assets/images/xu-looking.jpg">
          <img class="div-img col-md-6" src="assets/images/wong-chang.jpg">
        </div>
      </div>
      <div class="col-md-6 h-100">
        <div class="row h-25 mg-x">
          <img class="div-img col-md-6" src="assets/images/mayer-1.jpg">
          <img class="div-img col-md-6" src="assets/images/mayer-2.jpg">
        </div>
        <div class="row h-75 mg-x">
          <img class="div-img col-12" src="assets/images/shout-2.jpg">
        </div>
      </div>
    </div>
</section>
