<nav class="navbar-main">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo-white.png" width="40" height="30" alt="" loading="lazy">
    永平高中棒球隊
  </a>

  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="item" href="#">首頁</a>
      <a class="item" href="#">關於我們</a>
      <a class="item" href="#">歷屆戰績</a>
      <a class="item" href="#">聯絡我們</a>
      <a class="item" href="#">球隊時程</a>
    </div>
  </div>
</nav>
