<section>
  <div id="carouselExampleControls" class="carousel slide h-100" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleControls" data-slide-to="1"></li>
      <li data-target="#carouselExampleControls" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <img class="item-image" src="assets/images/wong-batting.jpg">
        <div class="carousel-caption d-none d-block">
          <fa-icon [icon]="quote" size="4x"></fa-icon>
          <h5 class="py-4">
            堅持到底的精神，奮戰不懈的態度，球隊讓我學習到許多課本上沒有教的東西，
            隊友使我的高中三年充滿熱血，加入球隊，青春無悔
          </h5>
          <h5 class="font-weight-bold">永平棒球 4th / 台北市立大學</h5>
          <h4>翁紹暄</h4>
        </div>
      </div>
    </div>


    <a class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
